/* Center the console container in the viewport */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    margin: 0;
    padding: 10px;
    color: #FAF9F6;
    font-family: monospace;
}

/* Styling for console text and blinking underscore */
.console-container {
    font-size: 24px;
    font-family: monospace;
    color: #FAF9F6;
    display: inline-block;
}

#text {
    display: inline;
}

.no-cursor #cursor {
    display: none;
}

/* Blinking cursor */
#cursor {
    display: inline;
    animation: blink 0.5s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Style for keyboard-like appearance */
.key {
    display: inline-block;
    padding: 2px 6px;
    margin: 0 2px;
    background-color: #555;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    font-weight: bold;
}

.creed {
    font-family: 'Termina', sans-serif;
    font-size: 100px;
    color: #a54550;
}
